@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter Variable", system-ui, -apple-system, sans-serif;
}

@custom-variant pressed (&[data-pressed="true"]);

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.625;
  }
}

@theme {
  --color-sand-1: #fdfdfc;
  --color-sand-2: #f9f9f8;
  --color-sand-3: #f1f0ef;
  --color-sand-4: #e9e8e6;
  --color-sand-5: #e2e1de;
  --color-sand-6: #dad9d6;
  --color-sand-7: #cfceca;
  --color-sand-8: #bcbbb5;
  --color-sand-9: #8d8d86;
  --color-sand-10: #82827c;
  --color-sand-11: #63635e;
  --color-sand-12: #21201c;

  --nav-height: calc(122px + 64px);
  --font-weight-semimedium: 450;
}

:root.dark {
  --color-sand-1: #222221;
  --color-sand-2: #191918;
  --color-sand-3: #222221;
  --color-sand-4: #2a2a28;
  --color-sand-5: #31312e;
  --color-sand-6: #3b3a37;
  --color-sand-7: #494844;
  --color-sand-8: #62605b;
  --color-sand-9: #6f6d66;
  --color-sand-10: #7c7b74;
  --color-sand-11: #b5b3ad;
  --color-sand-12: #eeeeec;
}

@utility prose {
  blockquote {
    /* Disable adding quote marks to block-quotes: https://github.com/tailwindlabs/tailwindcss-typography/issues/66 */
    p {
      &:first-of-type::before,
      &:last-of-type::after {
        content: none;
      }
    }
  }
}
