---
import { clsx } from "clsx";

const classes = clsx(
  "prose",

  // Headings
  "prose-h1:text-lg prose-h1:font-semibold prose-h1:text-sand-12",
  "prose-h2:text-base prose-h2:prose-a:font-medium prose-h2:text-sand-12",
  "prose-h2:mb-8 prose-h2:mt-12 prose-h2:prose-a:no-underline prose-h2:prose-a:text-sand-12 prose-h2:prose-a:hover:text-sand-12",
  "prose-h3:text-base prose-h3:font-semimedium prose-h3:mt-7 prose-h3:mb-6 prose-h3:text-sand-12",

  // Content
  "prose-li:text-sand-11",
  "prose-p:text-sand-11 prose-strong:text-sand-12",
  "prose-a:font-normal prose-a:text-sand-10 prose-a:underline prose-a:hover:text-sand-12 prose-a:active:text-sand-12 prose-a:focus:text-sand-12",

  // Layout
  "col-span-full contents",
  "prose-code:dark:text-sand-12",
);
---

<div class={classes}>
  <slot />
</div>
