---
import "@fontsource-variable/inter";

import Head from "@/components/Head.astro";

import "@/styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 w-full">
  <Head title={title} />
  <body class="bg-sand-1 dark:bg-dark-sand-1 m-0 w-full">
    <nav
      class="mx-auto max-w-3xl lg:max-w-6xl sticky top-0 left-0 right-0 pt-16 pb-8 z-50 backdrop-blur-md bg-sand-1/80 dark:bg-dark-sand-1/80"
    >
      <div class="mx-auto max-w-6xl h-full px-4 flex items-center">
        <a href="/" class="text-sand-12 px-4 font-medium hover:text-sand-11"
          >Michał Paczków</a
        >
      </div>
    </nav>
    <div class="mx-auto max-w-3xl lg:max-w-6xl pt-16 pb-32">
      <slot />
    </div>
  </body>
</html>
