---
import { getCollection, render } from "astro:content";

import IconLink from "@/components/IconLink.astro";
import { Search } from "@/components/writing/Search";
import Layout from "@/layouts/Base.astro";
import { SITE } from "config";

const essayCollection = await getCollection("essays");

const posts = await Promise.all(
  essayCollection.map(async (essay) => {
    const { remarkPluginFrontmatter } = await render(essay);

    return {
      id: essay.id,
      readTime: remarkPluginFrontmatter.minutesRead,
      type: "essay" as const,
      ...essay.data,
    };
  }),
);
---

<Layout title="Writing - paczkow.me">
  <Search client:load posts={posts}>
    <div slot="icons" class="mt-auto hidden gap-4 lg:flex">
      <IconLink to={SITE.social.github} icon="github" />
      <IconLink to={SITE.social.linkedin} icon="linkedin" />
      <IconLink to="Bluesky" icon="bluesky" />
    </div>
  </Search>
</Layout>
