---
import { getCollection, render } from "astro:content";

import IconLink from "@/components/IconLink.astro";
import { SearchResults } from "@/components/writing/SearchResults";
import { SearchSidebar } from "@/components/writing/SearchSidebar";
import Layout from "@/layouts/TwoColumn.astro";
import { SITE } from "config";

const essayCollection = await getCollection("essays");

const posts = await Promise.all(
  essayCollection.map(async (essay) => {
    const { remarkPluginFrontmatter } = await render(essay);

    return {
      id: essay.id,
      readTime: remarkPluginFrontmatter.minutesRead,
      type: "essay" as const,
      ...essay.data,
    };
  }),
);
---

<Layout title="Writing - paczkow.me">
  <Fragment slot="sidebar">
    <SearchSidebar client:load>
      <div slot="icons" class="mt-auto hidden gap-4 lg:flex">
        <IconLink to={SITE.social.github} icon="github" />
        <IconLink to={SITE.social.linkedin} icon="linkedin" />
        <IconLink to={SITE.social.bluesky} icon="bluesky" />
      </div>
    </SearchSidebar>
  </Fragment>
  <Fragment slot="content">
    <SearchResults client:load posts={posts} />
  </Fragment>
</Layout>
